.connection-indicator-wrapper {
  position: relative;
  top: 17px;
  left: 30px;
  font-size: 8pt;
  color: #777777;
  background-color: #dedede;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.connected {
  color: #000000;
  background-color: #B3FFBB;
}

.connecting {
  color: #000000;
  background-color: #B2E8FF;
}
