.feedback-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  div {
    width: 100%;
  }

  label {
    font-family: Arial;
    font-size: 12px;
    width: 100%;
    textarea {
      width: 100%;
      height: 80px;
      font-family: Arial;
      font-weight: normal;
    }
  }
}

.gsm-float-left {
  position: relative;
  div {
    outline: none;
    float: left;
    width: 33%;
    text-align: center;
    border: solid 1px #ffffff;
    padding: 10px;
    height: 180px;

    p {
      background-color: #ffffff;
      color: #ffffff;
      margin-top: 15px;
      padding: 3px;
      border-radius: 5px;
      font-family: "Lucida Console";
    }
  }

  div:hover {
    border: solid 1px #329ECD;
    border-radius: 5px;
  }
}

.feedback-mood-highlight {
  border: solid 2px #B2E8FF;
  border-radius: 15px;

  p {
    background-color: #70CAF0 !important;
  }
}

.feedback-dialog-buttons {
  float: right;
  position: relative;
}
