.quote-container-board-feedback {
  margin-bottom: 50px;
  position: relative;
  width: 350px;
  float: left;
  left: -50%;

  .feedback-card-actions {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 0px;

    a {
      margin-right: 20px;
    }
  }
}

.quote-container-board-feedback:hover {
  .feedback-card-actions {
    display: inline;

    img {
      margin: 5px;
    }

    a {
      text-decoration: none;
      opacity: 0.5;
    }

    a:hover {
      opacity: 1.0;
    }
  }
}

.note-board-feedback {
  color: #333;
  position: relative;
  width: 300px;
  padding: 20px;
  font-family: Arial;
  font-size: 14px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  border-left: 0px;
}

.note-fixed-height {
  height: 150px;
}

.note-board-feedback .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.graybg-board-feedback {
  background: #eaeeee;
}

.yellow-board-feedback {
  background: #eae672;
}

.comment-image-board-feedback {
  float: left;
  width: 70px;
}

.comment-text-board-feedback {
  width: 270px;
}
