.participant-container {
  width: 100%;
  height: 95px;
  background-color: #eeeeee;
  border-bottom: solid 1px #dddddd;
}

.participant-center-content {
  margin: auto;
  width: 640px;
  padding: 10px;
}

.participant-feedback-container {
  float: left;
  position: relative;
  left: 50%;
}

.participant-logo-head {

  img {
    width: 80px;
    float: left;
    padding-bottom: 20px;
  }

  div {
    float: left;
    padding-left: 20px;

    span {
      font-family: Arial;
      font-size: 21pt;
    }

    p {
      font-family: Arial;
      padding-top: 10px;
    }
  }
}

.use-old-version {
  font-size: 7pt;
  color: #999999;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}

.use-old-version:hover {
  color: #111111;
}

.participant-nickname-selection {
  background-color: #eeeeee;
  // boder: solid 1px #000000;
  border-radius: 8px;
  height: 90px;
}

.participant-buttons-selection {
  margin-top: 20px;
  height: 45px;
}
