.participant-logo-head {
  position: relative;

  img {
    width: 80px;
    float: left;
    padding-bottom: 20px;
  }

  div {
    float: left;
    padding-left: 20px;

    span {
      font-family: Arial;
      font-size: 21pt;
    }

    p {
      font-family: Arial;
      padding-top: 10px;
    }
  }
}

.participant-logo-clear {
  clear: both;
}

.participant-wrapper {

}
